@import url(http://fonts.googleapis.com/css?family=Montserrat);
    .dropdown-arrow-inverse {
    border-bottom-color: #34495e!important;
    border-top-color: #34495e!important;
}
body {
    color: #1d1f20;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.231;
}
body.bots {
    background-color: #1d1f20;
}
button, input, select, textarea {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-size: 14px;
}


/* ================================================== */


.powered {
 width: 180px;
 height: 90px;
 display:block;
 background-image: url("../images/fb1.png") center top no-repeat;
}


/* unvisited link */
a.powered:link {

background-image: url("../images/fb1.png");
width: 180px;
height:90px;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}




/* visited link */
a.powered:visited {

background-image: url("../images/fb1.png");
width: 180px;
height:90px;

}


/* mouse over link */
a.powered:hover {
background-image: url("../images/fb2.png");
width: 180px;
height:90px;
}

/* selected link */
a.powered:active {

background-image: url("../images/fb1.png");
width: 180px;
height:90px;

}










/* ================================================== */
a {
    color: #0892c4;
    text-decoration: none;
    -webkit-transition: color .25s, background .25s;
    -moz-transition: color .25s, background .25s;
    -o-transition: color .25s, background .25s;
    transition: color .25s, background .25s;
}
a:hover {
    color: #201a60;
    text-decoration: none;
}
.h1, h1 {
    font-size: 48px;
}
.h2, h2 {
    font-size: 41px;
}
.h3, h3 {
    font-size: 32px;
}
.h4, h4 {
    font-size: 23px;
}
.h5, h5 {
    font-size: 21px;
}
.h6, h6 {
    font-size: 19px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
}
h1 {
    font-weight: 700;
}
h2 {
    font-weight: 700;
    margin-bottom: 2px;
}
h3 {
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 2px;
}
h4 {
    font-weight: 500;
    margin-top: 4px;
}
h5 {
    font-weight: 500;
}
h6 {
    font-weight: 400;
}
p {
    font-size: 18px;
    line-height: 1.722169;
}
.lead {
    font-size: 28px;
    line-height: 1.4642745;
    font-weight: 300;
    margin-bottom: 20px;
}
small {
    font-size: 84%;
    line-height: 2.050846;
}
blockquote {
    position: relative;
    border-left: none;
    padding-left: 19px;
}
blockquote p {
    font-size: 20.01px;
    line-height: 1.549829;
    font-weight: 400;
    margin-bottom: .4em;
}
blockquote small {
    font-size: 18px;
    line-height: 1.722169;
    font-style: italic;
    color: #34495e;
}
blockquote small:before {
    content: ""}
blockquote:before {
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: #ebedee;
    content: "";
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.img-rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.img-comment {
    font-size: 14.99px;
    line-height: 1.231;
    font-style: italic;
    margin: 24px 0;
}
.text-primary {
    color: #1abc9c;
}
a.text-primary:focus, a.text-primary:hover {
    color: #15967d;
}
.text-success {
    color: #2ecc71;
}
a.text-success:focus, a.text-success:hover {
    color: #25a35a;
}
.text-danger {
    color: #e74c3c;
}
a.text-danger:focus, a.text-danger:hover {
    color: #b93d30;
}
.text-warning {
    color: #f1c40f;
}
a.text-warning:focus, a.text-warning:hover {
    color: #c19d0c;
}
.text-info {
    color: #3498db;
}
a.text-info:focus, a.text-info:hover {
    color: #2a7aaf;
}
.text-inverse {
    color: #fff;
}
a.text-inverse:focus, a.text-inverse:hover {
    color: #ccc;
}
.muted {
    color: #bdc3c7;
}
a.muted:focus, a.muted:hover {
    color: #979c9f;
}
footer {
    background-color: transparent;
}
.input-append input {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}
.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #000;
}
.bg-turquoise {
    background-color: #1abc9c;
}
.bg-green-sea {
    background-color: #16a085;
}
.bg-emerland {
    background-color: #2ecc71;
}
.bg-nephritis {
    background-color: #27ae60;
}
.bg-peter-river {
    background-color: #3498db;
}
.bg-belize-hole {
    background-color: #2980b9;
}
.bg-amethyst {
    background-color: #9b59b6;
}
.bg-wisteria {
    background-color: #8e44ad;
}
.bg-wet-asphalt {
    background-color: #34495e;
}
.bg-midnight-blue {
    background-color: #2c3e50;
}
.bg-sun-flower {
    background-color: #f1c40f;
}
.bg-orange {
    background-color: #f39c12;
}
.bg-carrot {
    background-color: #e67e22;
}
.bg-pumpkin {
    background-color: #d35400;
}
.bg-alizarin {
    background-color: #e74c3c;
}
.bg-pomegranate {
    background-color: #c0392b;
}
.bg-clouds {
    background-color: #ecf0f1;
}
.bg-silver {
    background-color: #bdc3c7;
}
.bg-concrete {
    background-color: #95a5a6;
}
.bg-asbestos {
    background-color: #7f8c8d;
}
.bg-base {
    background-color: #34495e;
}
.bg-firm {
    background-color: #1abc9c;
}
.bg-success {
    background-color: #2ecc71;
}
.bg-danger {
    background-color: #e74c3c;
}
.bg-warning {
    background-color: #f1c40f;
}
.bg-info {
    background-color: #3498db;
}
.bg-footer {
    background-color: #1d1f20;
}
.bordered {
    border-style: solid;
}
.bordered.bg-turquoise {
    border-color: #16a085;
}
.bordered.bg-emerland {
    border-color: #27ae60;
}
.bordered.bg-peter-river {
    border-color: #2980b9;
}
.bordered.bg-amethyst {
    border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
    border-color: #2c3e50;
}
.bordered.bg-sun-flower {
    border-color: #f39c12;
}
.bordered.bg-carrot {
    border-color: #d35400;
}
.bordered.bg-alizarin {
    border-color: #c0392b;
}
.bordered.bg-clouds {
    border-color: #bdc3c7;
}
.bordered.bg-concrete {
    border-color: #7f8c8d;
}
body, html {
    height: 100%}
body {
    overflow-x: hidden;
    color: #7f8c8d;
    line-height: 1.29;
}
@media (max-width:767px) {
    body {
    padding-right: 0;
    padding-left: 0;
}
}li {
    line-height: 20px;
}
.btn {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 22px;
    -webkit-transition: color .25s, background .25s;
    -moz-transition: color .25s, background .25s;
    -o-transition: color .25s, background .25s;
    transition: color .25s, background .25s;
}
.btn.btn-large {
    font-size: 17px;
    padding: 12px 18px;
}
.btn>[class^=fui-] {
    margin-left: 4px;
    margin-right: 4px;
    line-height: inherit;
    display: inline-block;
    vertical-align: top;
}
.input-group-btn .btn {
    background: #bdc3c7;
    line-height: 9px 12px 10px;
    line-height: 22px;
    border: 0;
    margin: 0;
    color: #fff;
    margin-left: 0!important;
    padding-left: 10px;
    padding-right: 12px;
}
.input-group-btn .btn:hover {
    background: #cacfd2;
}
.uneditable-input, input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], textarea {
    outline: 0;
}
.form-group {
    margin-bottom: 10px;
}
label {
    line-height: 20px;
}
.carousel {
    line-height: 1;
}
.hero-unit h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}
h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    margin-bottom: 10px;
}
.page-wrapper {
    position: relative;
    z-index: 2;
    overflow: hidden;
    min-height: 100%}
.header-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loaded .header-antiflicker, .loaded .page-wrapper, .loaded body>header .header-background {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .33s cubic-bezier(.694, .0482, .335, 1);
    -moz-transition: all .33s cubic-bezier(.694, .0482, .335, 1);
    -o-transition: all .33s cubic-bezier(.694, .0482, .335, 1);
    transition: all .33s cubic-bezier(.694, .0482, .335, 1);
}
.loaded.nav-visible .header-antiflicker, .loaded.nav-visible .navbar.navbar-fixed-top, .loaded.nav-visible .page-wrapper, .loaded.nav-visible body>header .header-background {
    -webkit-transform: translate3d(-230px, 0, 0);
    -moz-transform: translate3d(-230px, 0, 0);
    -o-transform: translate3d(-230px, 0, 0);
    transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .header-antiflicker, .loaded.no-csstransitions .page-wrapper {
    left: 0;
}
.loaded.no-csstransitions.nav-visible .header-antiflicker, .loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top, .loaded.no-csstransitions.nav-visible .page-wrapper {
    left: -230px!important;
    right: auto;
}
.carousel-indicators {
    width: 100%}
[class^=fui-] {
    display: inline-block;
    vertical-align: middle;
}
body>section, footer, header {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width:767px) {
    body>section, footer, header {
    padding-right: 5px;
    padding-left: 5px;
}
}img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    color: #2c3e50;
}
h1 {
    font-weight: 400;
}
h3 {
    font-weight: 400;
}
img {
    -webkit-backface-visibility: hidden;
}
.uneditable-input, input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], textarea {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7f8c8d;
}
a:active, a:focus, a:hover, button:active, button:focus, button:hover {
    outline: 0;
}
#bgVideo {
    overflow: hidden;
}
#bgVideo>video {
    position: absolute!important;
}
.delimiter {
    margin-top: 200px;
}
.delimiter.line {
    margin-top: 150px;
    margin-bottom: 150px;
    border-top: 2px solid #ebedee;
}
header {
    padding-top: 100px;
    padding-bottom: 70px;
    z-index: 100;
}
header .brand {
    font-size: 25px;
    font-weight: 400;
    color: #34495e;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    color: #2c3e50;
}
header .brand img:first-child {
    float: left;
    margin: -10px 15px 0 0;
}
section * {
    z-index: 2;
}
.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 20;
    filter: alpha(opacity=2000);
    opacity: .2;
    filter: alpha(opacity=20);
}
.container {
    position: relative;
    z-index: 2;
}
@media (max-width:767px) {
    header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
}.navbar {
    left: 0;
    right: 0;
}
.navbar .brand {
    padding: 23px 28px 24px 0;
    float: left;
}
.navbar .subnav {
    display: none;
}
.navbar a {
    -webkit-transition: color .25s, background .25s;
    -moz-transition: color .25s, background .25s;
    -o-transition: color .25s, background .25s;
    transition: color .25s, background .25s;
}
.navbar .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.navbar .nav>li {
    float: left;
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    background: 0 0;
}
.navbar .navbar-toggle {
    margin: 26px 0 10px;
    color: #fff;
    background: 0 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background: url() 50% no-repeat;
    -webkit-background-size: 17px 12px;
    -moz-background-size: 17px 12px;
    -o-background-size: 17px 12px;
    background-size: 17px 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar .navbar-toggle:before {
    display: none;
}
.navbar .navbar-form .btn {
    height: auto;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar .nav>li>a>[class*=fui-] {
    font-size: 24px;
    margin: -10px 0 0;
    position: relative;
    top: 4px;
}
.navbar.navbar-fixed-top {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 1170px;
    margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
    -webkit-transition: all .33s cubic-bezier(.694, .0482, .335, 1);
    -moz-transition: all .33s cubic-bezier(.694, .0482, .335, 1);
    -o-transition: all .33s cubic-bezier(.694, .0482, .335, 1);
    transition: all .33s cubic-bezier(.694, .0482, .335, 1);
}
@media (min-width:768px) and (max-width:991px) {
    .navbar-collapse.collapse {
    display: none!important;
}
.navbar-toggle {
    display: block;
}
.navbar-header {
    float: none;
}
}.header-16 .navbar-collapse.collapse, .header-19 .navbar-collapse.collapse {
    display: none!important;
}
@media (max-width:991px) {
    body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%!important;
    z-index: 1;
}
}@media (min-width:992px) {
    body>.collapse.navbar-collapse {
    display: none!important;
}
}body .navbar-collapse#header-16, body .navbar-collapse#header-19 {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%!important;
    z-index: 1;
}
body>.navbar-collapse {
    padding: 25px 0;
    overflow: auto;
    background: #222527;
    min-height: 100%}
body>.navbar-collapse::-webkit-scrollbar {
    display: none;
}
body>.navbar-collapse .pull-left, body>.navbar-collapse .pull-right {
    float: none!important;
}
body>.navbar-collapse .nav {
    margin: 0 0 10px;
}
body>.navbar-collapse .nav>li {
    margin: 0;
}
body>.navbar-collapse .nav>li>a {
    display: block;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
}
body>.navbar-collapse .nav>li>a.active, body>.navbar-collapse .nav>li>a:focus, body>.navbar-collapse .nav>li>a:hover {
    color: #fff;
}
body>.navbar-collapse .nav>li>a:focus, body>.navbar-collapse .nav>li>a:hover {
    background: 0 0;
}
body>.navbar-collapse .nav>li.active>a {
    color: #fff;
}
body>.navbar-collapse .nav>li.active>a.active, body>.navbar-collapse .nav>li.active>a:focus, body>.navbar-collapse .nav>li.active>a:hover {
    color: #fff;
}
body>.navbar-collapse .subnav {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
body>.navbar-collapse .subnav li>a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: 400;
    color: #5b5e61;
    text-transform: capitalize;
}
body>.navbar-collapse .subnav li>a.active, body>.navbar-collapse .subnav li>a:focus, body>.navbar-collapse .subnav li>a:hover {
    color: #fff;
}
body>.navbar-collapse .navbar-form, body>.navbar-collapse .navbar-search {
    padding: 10px 35px;
    margin: 0;
    border-bottom: 0 none;
    border-top: 0 none;
    box-shadow: none;
}
body>.navbar-collapse .navbar-form:focus, body>.navbar-collapse .navbar-search:focus {
    outline: 0 none;
}
body>.navbar-collapse .navbar-form .btn, body>.navbar-collapse .navbar-form .btn-primary, body>.navbar-collapse .navbar-search .btn, body>.navbar-collapse .navbar-search .btn-primary {
    height: 30px;
    line-height: 20px;
    font-size: 15px;
    color: #5b5e61;
    background: 0 0;
    padding: 0;
}
body>.navbar-collapse .navbar-form .btn-primary:hover, body>.navbar-collapse .navbar-form .btn:hover, body>.navbar-collapse .navbar-search .btn-primary:hover, body>.navbar-collapse .navbar-search .btn:hover {
    color: #fff;
}
.header-10 {
    z-index: 100;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    color: #fff;
}
.header-10 .header-background {
    background: #4d4d4d;
}
.header-10 .navbar {
    position: absolute;
    z-index: 2;
    top: 0;
    margin: 0;
}
.header-10 .navbar.navbar-fixed-top {
    top: 0!important;
}
.header-10 .navbar .brand {
    padding-top: 25px;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 800;
}
.header-10 .navbar .brand img:first-child {
    float: left;
    margin: -10px 15px 0 0;
}
.header-10 .navbar .nav>li {
    margin-left: 40px;
}
.header-10 .navbar .nav>li:first-child {
    margin-left: 0;
}
.header-10 .navbar .nav>li>a {
    padding: 29px 0 27px;
    font-size: 17px;
    font-weight: 400;
    color: #7f8c8d;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}
.header-10 .navbar .nav>li>a.active, .header-10 .navbar .nav>li>a:focus, .header-10 .navbar .nav>li>a:hover {
    color: #bdc3c7;
}
.header-10 .navbar .nav>li.active>a {
    color: #bdc3c7;
}
.header-10 .navbar .nav>li.active>a.active, .header-10 .navbar .nav>li.active>a:focus, .header-10 .navbar .nav>li.active>a:hover {
    color: #bdc3c7;
}
.header-10 .navbar .navbar-form {
    padding: 19px 0 19px 50px;
}
.header-10 .navbar .btn {
    padding-left: 26px;
    padding-right: 26px;
}
.header-10 .navbar .btn.btn-success {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
}
.header-10 .navbar .navbar-toggle {
    margin-top: 30px;
}
.header-10-sub {
    position: relative;
    z-index: 50;
    height: 650px;
    background-color: #4d4d4d;
    color: #fff;
    text-align: center;
}
.header-10-sub .v-center, .header-10-sub.v-center {
    display: table;
    width: 100%}
.header-10-sub .v-center>div, .header-10-sub.v-center>div {
    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    float: none;
}
@media (min-width:768px) {
    .header-10-sub .v-center.row: after, .header-10-sub .v-center.row:before, .header-10-sub.v-center.row:after, .header-10-sub.v-center.row:before {
    display: none;
}
}@media (max-width:767px) {
    .header-10-sub .v-center, .header-10-sub.v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}
.header-10-sub .v-center.row, .header-10-sub.v-center.row {
    display: block;
    width: auto;
}
.header-10-sub .v-center.row:after, .header-10-sub .v-center.row:before, .header-10-sub.v-center.row:after, .header-10-sub.v-center.row:before {
    display: none;
}
.header-10-sub .v-center.row>*, .header-10-sub.v-center.row>* {
    display: block;
    vertical-align: baseline;
}
}@media (max-width:480px) {
    .header-10-sub {
    height: 450px;
}
}.header-10-sub span {
    display: none;
}
.header-10-sub .background {
    background-image: url(../images/bg.jpg);
    opacity: 60;
    filter: alpha(opacity=6000);
    opacity: .6;
    filter: alpha(opacity=60);
}
@media (max-width:480px) {
    .header-10-sub .background {
    opacity: 80;
    filter: alpha(opacity=8000);
    opacity: .8;
    filter: alpha(opacity=80);
    background-position: 50px 50% no-repeat;
}
}.header-10-sub .hero-unit {
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.header-10-sub .hero-unit h1 {
    margin: 0 0 30px;
    font-size: 45px;
    font-weight: 400;
    color: #fff;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.header-10-sub .hero-unit p {
    font-size: 25px;
    font-weight: 400;
    color: #ff5252;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 37.5px;
}
@media (max-width:480px) {
    .header-10-sub .hero-unit h1 {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.header-10-sub .hero-unit p {
    font-size: 22px;
    font-weight: 400;
    color: #ff5252;
    line-height: 35px;
    font-weight: 300;
}
}@media (max-width:480px) and (max-width:480px) {
    .header-10-sub .hero-unit p {
    line-height: 28px;
}
}.header-10-sub .hero-unit.hero-unit-bordered h1 {
    font-size: 46px;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    border: 8px solid #fff;
    display: inline-block;
    margin: 0;
    padding: 30px 40px;
}
@media (max-width:480px) {
    .header-10-sub .hero-unit.hero-unit-bordered h1 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
}
}@media (max-width:480px) {
    .header-10-sub.v-center>div {
    padding-top: 35px;
    padding-bottom: 70px;
}
}.header-10-sub .control-btn {
    width: 53px;
    height: 53px;
    line-height: 53px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    color: #7f8c8d;
    color: #fff;
    background: #ff5252;
    opacity: 80;
    filter: alpha(opacity=8000);
    opacity: .8;
    filter: alpha(opacity=80);
    position: absolute;
    left: 50%;
    bottom: 90px;
    margin-left: -26.5px;
}
.header-10-sub .control-btn.active, .header-10-sub .control-btn:focus, .header-10-sub .control-btn:hover {
    color: #fff;
}
.header-10-sub .control-btn.active, .header-10-sub .control-btn:active, .header-10-sub .control-btn:focus, .header-10-sub .control-btn:hover {
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
}
@media (max-width:480px) {
    .header-10-sub .control-btn {
    bottom: 30px;
}
}.content-11 {
    position: relative;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    background: #ff5252;
    font-size: 24px;
    font-weight: 400;
    color: #34495e;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #f2f2f2;
}
.content-11>.container {
    position: relative;
}
.content-11 .app-btn img {
    margin-left: 33px;
    width: 200px;
    height: auto!important;
}
@media (max-width:767px) {
    .content-11 .app-btn img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
}.content-11 .btn {
    margin-left: 33px;
    font-size: 14px;
    font-weight: 400;
    color: #f2f2f2;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    background-color: #070808;
}
@media (max-width:480px) {
    .content-11>.container>span {
    display: block;
}
.content-11 .btn {
    margin: 30px 0 0;
}
}@media (max-width:614px) {
    .content-11>.container>span {
    display: block;
}
.content-11 .btn {
    margin: 30px 0 0;
}
}.content-15 {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}
@media (max-width:767px) {
    .content-15 {
    padding-top: 40px;
}
}.content-15 h3 {
    margin-top: 68px;
    margin-bottom: 48px;
    font-size: 37px;
    font-weight: 400;
    color: #ff5252;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
}
@media (max-width:767px) {
    .content-15 h3 {
    font-size: 28px;
    font-weight: 400;
    color: #ff5252;
    font-weight: 300;
    text-align: center;
    line-height: 36px;
    margin-top: 28px;
    margin-bottom: 28px;
}
}.content-15 p {
    font-size: 18px;
    font-weight: 400;
    color: #7f8c8d;
}
.content-15 .features {
    margin-top: 120px;
}
.content-15 .features h6 {
    text-transform: none;
    margin: 60px 0 20px;
    font-size: 20px;
    font-weight: 400;
    color: #e74c3c;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 500;
}
.content-15 .features h6:first-child {
    margin-top: auto;
}
@media (max-width:767px) {
    .content-15 .features h6 {
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
}
}.content-15 .features p {
    font-size: 16px;
    font-weight: 400;
    color: #7f8c8d;
}
.content-15 .features .col-sm-7 img {
    width: 100%}
@media (max-width:767px) {
    .content-15 .features .col-sm-7 {
    text-align: center;
    margin-bottom: 46px;
}
}@media (max-width:767px) {
    .content-15 .features {
    margin-top: 76px;
}
}.content-10 {
    padding-top: 60px;
    padding-bottom: 85px;
    position: relative;
}
.content-10 .carousel {
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
}
@media (max-width:767px) {
    .content-10 .carousel {
    margin-top: 80px;
}
}.content-10 .carousel .item img {
    margin: 0 auto;
}
.content-10 .carousel .carousel-indicators {
    position: static;
    text-align: center;
    margin: 0;
    padding-top: 40px;
}
.content-10 .carousel .carousel-indicators li {
    display: inline-block;
    float: none;
    width: 12px;
    height: 12px;
    margin-left: 30px;
    text-indent: -999px;
    background-color: #4d4d4d;
    border-radius: 50%;
    cursor: pointer;
}
@media (max-width:767px) {
    .content-10 .carousel .carousel-indicators li {
    width: 22px;
    height: 22px;
}
}.content-10 .carousel .carousel-indicators li:first-child {
    margin-left: 0;
}
.content-10 .carousel .carousel-indicators .active {
    background-color: #ff5252;
}
.content-10 .carousel .item {
    -webkit-transition: .3s ease-in-out opacity;
    -moz-transition: .3s ease-in-out opacity;
    -o-transition: .3s ease-in-out opacity;
    transition: .3s ease-in-out opacity;
    left: 0!important;
}
.content-10 .carousel .item.active.left, .content-10 .carousel .item.active.right {
    opacity: 0;
    z-index: 2;
}
.content-10 .carousel .item.next {
    opacity: 1;
    z-index: 1;
}
.content-10 h3 {
    font-size: 30px;
    font-weight: 400;
    color: #2c3e50;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    margin-bottom: 18px;
    font-weight: 300;
}
.content-10 p {
    font-size: 16px;
    font-weight: 400;
    color: #7f8c8d;
}
.content-10 .features .box {
    position: relative;
    padding-left: 0;
    padding-top: 30px;
    margin-top: 50px;
    min-height: 100px;
    border-top: 2px solid #ecf0f1;
}
.content-10 .features .box.first, .content-10 .features .box:first-child, .content-10 .features .box:first-of-type {
    margin-top: 0;
    border-top: 0;
}
.content-10 .features .box>img {
    position: absolute;
    left: 0;
    top: 50px;
}
.content-10 .features h6 {
    text-transform: none;
    font-size: 22px;
    font-weight: 400;
    color: #ff5252;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.3;
}
.content-10 .features h6 a, .content-10 .features h6 a:hover {
    font-size: 22px;
    font-weight: 400;
    color: #ff5252;
}
.content-10 .features p {
    font-size: 16px;
    font-weight: 400;
    color: #7f8c8d;
}
.content-27 {
    position: relative;
    padding: 80px 0;
}
@media (max-width:767px) {
    .content-27 {
    padding: 80px 0;
}
}.content-27 img {
    margin-bottom: 60px;
}
.content-27 h3 {
    font-size: 30px;
    font-weight: 400;
    color: #2c3e50;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    text-align: left;
    margin-bottom: 23px;
    font-weight: 300;
}
@media (max-width:767px) {
    .content-27 h3 {
    font-size: 24px;
    font-weight: 400;
    color: #2c3e50;
}
}.content-27 p {
    font-size: 18px;
    font-weight: 400;
    color: #7f8c8d;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    line-height: 29.6px;
}
.content-27 p a {
    color: #4d4d4d;
}
.content-27 .btn.btn-inverse {
    background-color: #1d1f20;
}
.content-27 .btn {
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width:991px) {
    .content-27 h3, .content-27 p {
    margin-left: 5px;
    margin-right: 5px;
}
}.content-27 .btns {
    margin-top: 25px;
}
.content-27 .btns>* {
    display: inline-block;
    margin-left: 32px;
    vertical-align: middle;
}
.content-27 .btns>:first-child {
    margin-left: 0;
}
@media (max-width:991px) {
    .content-27 .btns .btn {
    display: block;
    margin: 0 5px 20px;
}
.content-27 .btns .btn:not(:first-child) {
    float: left;
    margin-right: 35px;
}
}@media (max-width:480px) {
    .content-27 .btns .btn: not(:first-child) {
    float: none;
    color: #fff;
    margin-right: 5px;
}
.content-27 .btns .btn:not(:first-child):focus {
    outline: 0;
}
.content-27 .btns [class*=fui-] {
    margin-top: -6px;
}
}@media (min-width:481px) {
    .content-27 .btns>: not(:first-child) {
    padding: 0;
    background: 0 0;
    color: #34495e;
}
.content-27 .btns>:not(:first-child):focus, .content-27 .btns>:not(:first-child):hover {
    color: #5d6d7e;
}
.content-27 .btns>:not(:first-child).active, .content-27 .btns>:not(:first-child):active {
    color: #2c3e50;
}
.content-27 .btns>:not(:first-child) [class*=fui-] {
    font-size: 30px;
    font-weight: 400;
    color: inherit;
    margin: 0;
}
.content-27 .btns>:not(:first-child) :not([class*=fui-]) {
    display: none;
}
}@media (max-width:480px) {
    .content-27 .btns>* {
    display: block;
    margin: 0;
}
.content-27 .btns>*+* {
    margin-top: 10px;
}
}.footer {
    padding-top: 0;
    padding-bottom: 20px;
    color: #4d4d4d;
    line-height: 25px;
}
.footer img.brand {
    height: 60px;
}
.footer span {
    display: none;
}
.footer p {
    font-size: 24px;
    font-weight: 400;
    color: #7f8c8d;
    padding-top: 60px;
    padding-bottom: 80px;
    line-height: 35px;
}
.footer p.a {
    color: grey;
}
.footer p a:hover {
    opacity: 50;
    filter: alpha(opacity=5000);
    opacity: .5;
    filter: alpha(opacity=50);
}
@media (max-width:480px) {
    .footer p {
    font-size: 20px;
    font-weight: 400;
    color: #7f8c8d;
    padding-top: 18px;
    padding-bottom: 28px;
}
}.footer a {
    color: grey;
    font-weight: 400;
}
.footer a.active, .footer a:focus, .footer a:hover {
    color: #666;
}
.footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #dedede;
}
.footer nav ul li {
    float: left;
    margin-left: 25px;
    line-height: 25px;
}
.footer nav ul li:first-child {
    margin-left: 0;
}
.footer .social-btns {
    white-space: nowrap;
}
.footer .social-btns>* {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    padding-top: 3px;
    font-size: 20px;
    font-weight: 400;
    color: grey;
    width: 20px;
    height: 25px;
    overflow: hidden;
    text-align: center;
}
.footer .social-btns>:first-child {
    margin-left: 0;
    padding-top: 0;
}
.footer .social-btns>*>* {
    display: block;
    position: relative;
    top: 0;
    -webkit-transition: .25s top;
    -moz-transition: .25s top;
    -o-transition: .25s top;
    transition: .25s top;
}
.footer .social-btns>*>:first-child {
    color: grey;
}
.footer .social-btns>:hover>* {
    color: rgba(128, 128, 128, .4);
}
.footer .additional-links {
    font-size: 12px;
    font-weight: 400;
    color: rgba(128, 128, 128, .2);
    text-align: center;
    clear: both;
    text-align: left;
}
.footer .additional-links a {
    text-decoration: underline;
    color: rgba(128, 128, 128, .2);
}
@media (max-width:480px) {
    .footer {
    padding-top: 28px;
    padding-bottom: 28px;
}
.footer>.container>* {
    float: none!important;
}
.footer>.container>:after, .footer>.container>:before {
    content: " ";
    display: table;
}
.footer>.container>:after {
    clear: both;
}
.footer>.container>:after, .footer>.container>:before {
    display: table;
    content: "";
    line-height: 0;
}
.footer>.container>:after {
    clear: both;
}
.footer nav ul li {
    float: none;
    margin: 18px 0 0;
}
.footer nav ul li:first-child {
    margin-top: 0;
}
.footer .social-btns {
    margin: 25px 0 10px;
}
}