<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
	<div class="row">
		<div ng-include="'components/navbar/navbar.html'"></div>
		<div class="col-md-10"  ng-if="Auth.isAdmin()">
			  <p>The accept and reject campaigns api routes are restricted to users with the 'admin' role.</p>
			  <ul class="list-group">
				  <li class="list-group-item" ng-repeat="campaign in campaigns">
					<div class="row">
						<div class="col-md-4">
							<strong>Business name: </strong>{{campaign.business.businessName}}<br>
							<strong>Website: </strong>{{campaign.business.website}}<br>
							<strong>Contact: </strong>{{campaign.business.contact}}<br>
							<strong>Address: </strong>{{campaign.business.address}}<br>
							<strong>Zip Code: </strong>{{campaign.business.zipCode}}
						</div>
						<div class="col-md-5">
							<strong>Created At: </strong>{{campaign.campaign.createdAt|date: 'medium'}}<br>
							<strong>Radius: </strong>{{campaign.campaign.distance}} mile<br>
							<strong>Reach: </strong>{{campaign.campaign.available}} potential people<br>
							<strong>Deal Limit: </strong>{{campaign.campaign.limit}}<br>
							<strong>Details: </strong><span ng-repeat="item in campaign.campaign.criteria">{{item.text}}<span ng-if="!$last">, </span></span><br>
							<strong>Age: </strong>{{campaign.campaign.age}}<br>
							<strong>Gender: </strong>{{campaign.campaign.gender}}<br>
							<strong>Message: </strong>{{campaign.campaign.message}}<br>
							<strong>Total price: </strong>${{campaign.campaign.price}}<br>
						</div>
						<div class="col-md-1">
							<table>
								<tr>
									<td>
										<button type="button" class="btn btn-success btn-sm" ng-click="accept($index, campaign)">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Allow
										</button>
									</td>								
									<td>
										<button type="button" class="btn btn-danger btn-sm" ng-click="reject($index, campaign)">
											<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reject
										</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				  </li>
			  </ul>
		  </div>
	  </div>
</div>
