<div class="container" style="margin-top:40px; margin-bottom:40px;">
	<a href="/">
		<img alt="Logo" src="/assets/images/logo.png"  width="180">
	</a>
</div>

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">


	<div class="row">

	
			<div class="col-md-5">
				<div style="width:360px;">

						<div class="row">
							<form class="form" name="eform" role="form" novalidate>
																	
								<div class="form-group" ng-class="{ 'has-success': eform.newemail.$valid && submitted,
																   'has-error': eform.newemail.$invalid && submitted }">
										<label>New Email</label>
										<input type="email" name="newemail" id="newemail" class="form-control" ng-model="newEmail" required/>

										<p class="help-block" ng-show="eform.newemail.$error.required && submitted">
											Email is invalid
										</p>
										<br/>

										<button class="btn btn-success" type="button" ng-click="updateEmail()" ng-disabled="eform.$invalid">
											Update Email
										</button>
								
								</div>
							
								
							</form>
						</div>
					<form class="form" name="form" role="form" novalidate>
					<div class="row">        
						<div class="form-group" ng-class="{ 'has-success': form.lat.$valid && submitted,
												   'has-error': form.lat.$invalid && submitted }">
							<label>Latitude</label>
							<input type="text" name="lat" id="geoLat" class="form-control" ng-model="user.lat" readonly
								   required/>

							<p class="help-block" ng-show="form.lat.$error.required && submitted">
								A latitude is required
							</p>
						</div>

						<div class="form-group" ng-class="{ 'has-success': form.long.$valid && submitted,
													'has-error': form.long.$invalid && submitted }">
							<label>Longitude</label>
							<input type="text" name="long" id="geoLong" class="form-control" ng-model="user.long" readonly
								   required/>

							<p class="help-block" ng-show="form.long.$error.required && submitted">
								A longitude is required
							</p>
						</div>

						<div class="form-group">
							<label>Image</label>
							<input type="file" name="image" class="form-control" ng-file-select="onFileSelect($files)" />
							<br />
							<div ng-if="user.business.imageName">
								<img ng-src="/api/users/image/{{user.business.imageName}}" class="thumbnail" style="max-width: 390px;"/>
							</div>
						</div>

                        <div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,
                                            'has-error': form.address.$invalid && submitted }">

                            <label for="settingAddress">Street Address</label>
                            <input id="settingAddress" type="text" class="form-control" name="address"
                                   ng-model="user.business.address" placeholder="street address"
                                   required
                                   mongoose-error/>

                            <p class="help-block" ng-show="form.address.$error.required && submitted">
                                A Street Address is required
                            </p>

                            <p class="help-block" ng-show="form.address.$error.mongoose">
                                {{ errors.address }}
                            </p>
                        </div>

						<div class="form-group" ng-class="{ 'has-success': form.billingAddress.$valid && submitted,
                                            'has-error': form.billingAddress.$invalid && submitted }">

							<label for="settingTxt1">Billing Street Address</label>
							<input id="settingTxt1" type="text" class="form-control" name="billingAddress"
								   ng-model="user.business.billingAddress" placeholder="billing street address"
								   required
								   mongoose-error/>

							<p class="help-block" ng-show="form.billingAddress.$error.required && submitted">
								A Billing Street Address is required
							</p>

							<p class="help-block" ng-show="form.billingAddress.$error.mongoose">
								{{ errors.billingAddress}}
							</p>
						</div>

						<div class="form-group" ng-class="{ 'has-success': form.zipCode.$valid && submitted,
                                            'has-error': form.zipCode.$invalid && submitted }">
							<label for="settingTxt2">Zip Code</label>
							<input id="settingTxt2" type="text" class="form-control" placeholder="zip code" name="zipCode"
								   ng-model="user.business.zipCode"
								   required
								   mongoose-error/>

							<p class="help-block" ng-show="form.zipCode.$error.required && submitted">
								A Zip Code is required
							</p>

							<p class="help-block" ng-show="form.zipCode.$error.mongoose">
								{{ errors.zipCode}}
							</p>
						</div>

						<div class="form-group" ng-class="{ 'has-success': form.cardholderName.$valid && submitted,
                                            'has-error': form.cardholderName.$invalid && submitted }">
							<label for="settingTxt3">Cardholder's Name</label>
							<input id="settingTxt3" type="text" class="form-control" placeholder="cardholder's name"
								   name="cardholderName" ng-model="user.business.cardholderName"
								   required
								   mongoose-error/>

							<p class="help-block" ng-show="form.cardholderName.$error.required && submitted">
								A Cardholder's Name is required
							</p>

							<p class="help-block" ng-show="form.cardholderName.$error.mongoose">
								{{ errors.cardholderName}}
							</p>
						</div>
						<div class="form-group" ng-class="{ 'has-success': form.cardnumber.$valid && submitted,
                                            'has-error': form.cardnumber.$invalid && submitted }">
							<label for="settingTxt4">Card Number</label>
							<input id="settingTxt4" type="text" class="form-control" placeholder="card number" name="cardnumber"
								   ng-model="user.business.cardnumber"
								   required
								   mongoose-error/>

							<p class="help-block" ng-show="form.cardnumber.$error.required && submitted">
								A Card Number is required
							</p>

							<p class="help-block" ng-show="form.cardnumber.$error.mongoose">
								{{ errors.cardnumber}}
							</p>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group" ng-class="{ 'has-success': form.expMonth.$valid && submitted,
                                            'has-error': form.expMonth.$invalid && submitted }">
									<label for="settingTxt5">Exp Month</label>
									<input id="settingTxt5" type="text" class="form-control" placeholder="MM" name="expMonth"
										   ng-model="user.business.expMonth"
										   required
										   mongoose-error/>

									<p class="help-block" ng-show="form.expMonth.$error.required && submitted">
										A Exp Month is required
									</p>

									<p class="help-block" ng-show="form.expMonth.$error.mongoose">
										{{ errors.expMonth}}
									</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group" ng-class="{ 'has-success': form.expYear.$valid && submitted,
                                            'has-error': form.expYear.$invalid && submitted }">
									<label for="settingTxt6">Exp Year</label>
									<input id="settingTxt6" type="text" class="form-control" placeholder="YYYY" name="expYear"
										   ng-model="user.business.expYear"
										   required
										   mongoose-error/>

									<p class="help-block" ng-show="form.expYear.$error.required && submitted">
										A Exp Year is required
									</p>

									<p class="help-block" ng-show="form.expYear.$error.mongoose">
										{{ errors.expYear}}
									</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group" ng-class="{ 'has-success': form.CVC.$valid && submitted,
                                            'has-error': form.CVC.$invalid && submitted }">
									<label for="settingTxt7">CVC</label>
									<input id="settingTxt7" type="text" class="form-control" placeholder="Ex. 331" name="CVC"
										   ng-model="user.business.CVC"
										   required
										   mongoose-error/>

									<p class="help-block" ng-show="form.CVC.$error.required && submitted">
										A CVC is required
									</p>

									<p class="help-block" ng-show="form.CVC.$error.mongoose">
										{{ errors.CVC}}
									</p>
								</div>
							</div>
						
							
						</div>
						
						<div class="form-group">
							<label>Known for  (add up to 4)</label>
								<div ng-repeat="descriptionItem in user.business.description track by $index">
								<input type="text" class="form-control" placeholder=""
									   name="description" ng-model="user.business.description[$index]"
									   mongoose-error/><br />					
							</div>
							<div>
								<button class="btn btn-success" type="button" ng-disabled="user.business.description.length >= 4" ng-click="user.business.description.push('');">
									Add
								</button>
							</div>
						</div>
						
						<dl class="check-list-left" ng-class="{ 'has-success': form.businessCategory.$valid && submitted,
													'has-error': form.businessCategory.$invalid && submitted }">
							<dt>Classify your business (select up to 3)</dt>
							<dd ng-repeat="businessCategory in businessCategories">
								<input type="checkbox"
									   id="ch_{{businessCategory}}"
									   ng-checked="user.business.businessCategory.indexOf(businessCategory) > -1"
									   ng-click="toggleSelection(businessCategory)" 
									   ng-disabled="user.business.businessCategory.indexOf(businessCategory) == -1 && user.business.businessCategory.length >= 3"
								/>
								<label for="ch_{{businessCategory}}"> {{businessCategory}}</label>
							</dd>
							<p class="help-block" ng-show="form.businessCategory.$error.required && submitted">
								A business category is required
							</p>
						</dl>

						<div class="checkbox" ng-if="false">
							<label>
								<input type="checkbox" ng-model="agreeTerms" name="agreeTerms"/> I have read and understand terms and
								service
							</label>
						</div>

						<p class="help-block"> {{ message}} </p>

						<div>
							<button class="btn btn-success" type="button" ng-click="update(form)">
								Update Account
							</button>
						</div>
						<br/><br/>
						
						<button type="button" ng-click="test();" ng-if="false">
							Test
						</button>
						
						<div class="col-md-4"></div>
						<div class="col-md-4"></div>
					</div>
					</form>
				</div>
			</div>
			<div class="col-md-5">
				<label>Business location address</label>
				<input id="pac-input" type="text" class="form-control" placeholder="Search Box"/>
				<div id="map_canvas" style="width: 500px; height: 400px; margin-top: 15px"></div>
			</div>
		
	</div>
</div>
