<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
  <div class="row">
    <div ng-include="'components/navbar/navbar.html'"></div>
    <div class="col-md-10">
      <form name="form_opportunity" novalidate class="form-validation">
        <!--<div class="row" ng-if="error!=''">-->
          <!--<div class="col-lg-12">-->
            <!--<alert type="danger" close="closeAlert()">{{error}}</alert>-->
          <!--</div>-->
        <!--</div>-->
        <div ng-if="!isOpportunityStarted()">
          <div style="width:360px; margin-top:-56px;">
            <div class="row">
              <div class="col-lg-12">
                <dl class="check-list-left" ng-class="{ 'has-success': form.businessCategory.$valid && submitted,
															  'has-error': form.businessCategory.$invalid && submitted }">
                  <dt>Select your criteria</dt>
                  <dd ng-repeat="opportunityItem in opportunityCriteriaList track by $index">
                    <input type="checkbox" name="opportunityCriteria" id="ch_{{$index}}" ng-value="opportunityItem"
                           ng-model="checkboxCriteria[$index]"
                           ng-change="checkCriteria(checkboxCriteria[$index], opportunityItem);" />
                    <label for="ch_{{$index}}">{{opportunityItem.text}}</label>
                  </dd>
                </dl>
                <!--<dl class="radio-list-left">-->
                  <!--<dt>Select your target radius</dt>-->
                  <!--<dd ng-repeat="opportunityItem in opportunities">-->
                    <!--<input type="radio" name="opportunity" id="rb_{{$index}}"-->
                           <!--ng-model="form.opportunity" ng-value="opportunityItem" required/>-->
                    <!--<label for="rb_{{$index}}">{{opportunityItem.distance}} mi</label>-->
                  <!--</dd>-->
                <!--</dl>-->
              </div>
            </div>
          </div>

          <div style="width:440px;">
            <h4><strong>Enter your message for the blast</strong></h4>
					  <textarea name="message" class="form-control" rows="6" ng-model="form.message"
                      required></textarea>
          </div>

          <button type="button" class="btn btn-success" style="margin-bottom:80px; margin-top:20px;"
                  data-ng-click="save()"
                  data-ng-disabled="!canSubmit(form_opportunity)"
            >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
