<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/dashboard">
    <img alt="Logo" src="/assets/images/logo.png" width="180">
  </a>
</div>

<div class="container">
  <div style="width:360px;">
      <form class="form" name="form" role="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="user.email" required>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password" required>
        </div>

        <!--<div class="checkbox">-->
          <!--<label>-->
            <!--<input type="checkbox"> Remember Me-->
          <!--</label>-->
        <!--</div>-->

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

		<div class="form-group">
			<p>
				<a href="/recover-password">Forgot password?</a>
			</p>
		</div>


        <div>
          <button class="btn btn-primary" type="submit">
            Sign In
          </button>
        </div>
      </form>
  </div>
</div>
