<div class="container" style="margin-top:40px; margin-bottom:40px;">
    <a href="/">
        <img alt="Logo" src="/assets/images/logo.png"  width="180">
    </a>
</div>

<div class="container">
    <div class="row">
        <div ng-include="'components/navbar/navbar.html'"></div>
        <form class="form" name="formPromo" role="form" novalidate>
            <div class="col-md-5">
                <div style="width:360px;">
                    <div class="row" ng-if="error!=''">
                        <div class="col-lg-12">
                            <alert type="danger">{{error}}</alert>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="name">Promo Code name</label>
                            <input id="name" type="text" name="name" class="form-control" ng-model="form.name" ng-change="error = ''" required/>
                            <p class="help-block" ng-show="name.$error.required">
                                A Promo code name is required
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Select duration</label><br />
                            <select class = "form-control"
                                    ng-options="item for item in durationItems"
                                    ng-model="form.duration"
                                    ></select>
                        </div>
                        <div class="form-group">
                            <label for="blastLimit">Blast limit</label>
                            <input id="blastLimit" type="number" name="blastLimit" class="form-control" ng-model="form.blastLimit" min="1" required/>

                            <p class="help-block" ng-show="blastLimit.$error.required">
                                A Blast limit is required
                            </p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="button" data-ng-disabled="formPromo.$invalid" ng-click="save()">
                                Save
                            </button>                          
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>