<div class="container" style="margin-top:40px; margin-bottom:40px;">
    <a href="/">
        <img alt="Logo" src="/assets/images/logo.png"  width="180">
    </a>
</div>

<div class="container">
    <div class="row">
        <div ng-include="'components/navbar/navbar.html'"></div>
        <div class="col-md-10">
            <div>
                <a class="btn btn-success" type="button" style="margin-bottom:20px;" href="/promocodes/form/">
                    Add
                </a>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="code in promocodes">
                    <strong>{{code.name}}</strong><br>
                    <span class="text-muted">Duration: {{code.duration}};</span>
                    <span class="text-muted">Blast limit: {{code.blastLimit}}</span>
                    <a ng-click="remove(code)" href="" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
                    <a ng-href="/promocodes/form/{{code._id}}" class="edit"><span style="margin-right: 7px" class="glyphicon glyphicon-edit pull-right"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>