<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
	<div class="row">
		  <div ng-include="'components/navbar/navbar.html'"></div>
		  <div class="col-md-10">

			  	<div>
					<a class="btn btn-success" type="button" style="margin-bottom:20px;" href="/campaign">
					  New Campaign
					</a>
				</div>

				<h4><strong><a>Previous Campaigns</a></strong></h4>
				
				<div class="alert alert-warning" role="alert" ng-show="previousCampaigns.length == 0">No Previous Campaigns yet</div>

				<div class="row" ng-repeat="campaignItem in previousCampaigns">
					<hr>
					<div class="col-xs-6">
						<strong>Date</strong>
						<p>{{campaignItem.createdAt|date:'dd MMM yyyy'}}</p>
						<strong>Message</strong>
						<p>{{campaignItem.message}}</p>
						<strong>Details</strong>
						<p><span ng-repeat="criteriaItem in campaignItem.criteria">{{criteriaItem.text}}, </span>{{campaignItem.distance}} mi</p>
						<strong>Feedback</strong>
						<form id="ratingsForm">
							<div class="stars">
								<input type="radio" name="star" class="star-1" id="star-1" />
								<label class="star-1" for="star-1">1</label>
								<input type="radio" name="star" class="star-2" id="star-2" />
								<label class="star-2" for="star-2">2</label>
								<input type="radio" name="star" class="star-3" id="star-3" />
								<label class="star-3" for="star-3">3</label>
								<input type="radio" name="star" class="star-4" id="star-4" />
								<label class="star-4" for="star-4">4</label>
								<input type="radio" name="star" class="star-5" id="star-5" />
								<label class="star-5" for="star-5">5</label>
								<span></span>
							</div>
						</form>
					</div>
					<div class="col-xs-6">
						<div class="chart" ng-init="campaignItem.campaignTotal = campaignItem.available + campaignItem.userGroup.length + campaignItem.userScanned.length; campaignItem.campaignTotal = (campaignItem.campaignTotal == 0) ? 1 : campaignItem.campaignTotal;">
							<div class="bar-1" style="height: {{(50 + 135 * (campaignItem.available / campaignItem.campaignTotal))|number:1}}px;">Available
								<br />
								({{campaignItem.available}})
							</div>
							<div class="bar-2" style="height: {{(50 + 135 * (campaignItem.userGroup.length / campaignItem.campaignTotal))|number:1}}px;">Reached
								<br />
								({{campaignItem.userGroup.length}})
							</div>
							<div class="bar-3" style="height: {{(50 + 135 * (campaignItem.userScanned.length / campaignItem.campaignTotal))|number:1}}px;">Limit {{campaignItem.limit}}
								<br />
								({{campaignItem.userScanned.length}})
							</div>
						</div>
					</div>
				</div>
				
		  </div>
	</div>
</div>
