$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
$brand-primary: #30AED0;
$body-bg: #f7f7f7 !default;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
//@import "bootstrap-sprockets";
//@import "bootstrap";

/*
 * Onboarding forms
 */


%custom-form-buttons {


  opacity: 0;
  float: left;
  width: 1px;
  margin: 0;

  + label {
    position: relative;
    margin: 0;
    display: block;
    width: 100%;
    padding: 10px;
    color: #222;



    &:before {
      content: "";
      position: absolute;
      top: 50%;
      background: #ddd;


    }

  }

  &:checked + label {
    color: #2ea34e;

    &:before {
      background: #3dc863;
      border-color: darken(#3dc863, 10%)
    }
  }

  &:disabled + label {
    color: #ccc;

    &:before {
      background: fade-out(#ccc, .5);

    }
  }

  &:focus + label {
    box-shadow: inset 0 0 3px #fff;
  }
}



@mixin custom-radio($position: left) {

  input[type="radio"] {
    @extend %custom-form-buttons;

    + label {
      padding-#{$position}: 50px;

      &:before {
        height: 20px;
        width: 20px;
        margin-top: -11px;
        #{$position}: 10px;
        border-radius: 100%;
      }
    }

  }
}

@mixin custom-checkbox($position: left) {

  input[type="checkbox"] {
    @extend %custom-form-buttons;

    + label {
      padding-#{$position}: 50px;

      &:before {
        height: 24px;
        width: 24px;
        margin-top: -13px;
        #{$position}: 10px;
        border-radius: 4px;
      }
    }

  }
}

dl {
  max-width: 350px;
  margin: 50px auto;

  dt {
    margin: 3em 0 5px;
    font-size: 18px;
  }

  dd {
    margin: 0;
  }
}

.radio-list-left {
  @include custom-radio;
}

.check-list-left {
  @include custom-checkbox;
}

.radio-list-right {
  @include custom-radio(right);
}

.check-list-right {
  @include custom-checkbox(right);
}



/*
* Pie Charts
*/

$color_mountain_mist_approx: #999;

.pie {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: $color_mountain_mist_approx;
  font-size: 20px;
  text-align: left;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/*
 * Bar Charts
 */


.chart {
  margin: 50px;
  position: relative;
  height: 140px;
}

[class*=bar] {
  -webkit-animation: grow 0.5s ease forwards;
  -moz-animation: grow 0.5s ease forwards;
  -o-animation: grow 0.5s ease forwards;
  animation: grow 0.5s ease forwards;

  bottom: 0px;
  display: inline-block;
  margin-right: 20px;
  position: absolute;
  width: 100px;
}

$bars: 60px #4ECDC4, 120px #FF6B6B, 50px #C7F464;

$bar-width: 100px;
$bar-position: 0;
$margin: 20px;

@each $bar in $bars {
  $index: index($bars, $bar);

  .bar-#{$index} {
    background-color: #{nth($bar, 2)};
    height: #{nth($bar, 1)};
    left: ($bar-position * $bar-width);

    &:nth-child(n+1) {
      left:
      ($bar-position * $bar-width) +
        ($margin * $bar-position);
    }
  }

  $bar-position: $bar-position+1;
}

@-webkit-keyframes grow {
  0% {
    height: 0px;
  }
}

@-moz-keyframes grow {
  0% {
    height: 0px;
  }
}

@-o-keyframes grow {
  0% {
    height: 0px;
  }
}

@keyframes grow {
  0% {
    height: 0px;
  }
}




/*
* star ratings
*/
form .stars {
  background: url("/assets/images/stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    &.star-5:checked ~ span {
      width: 100%;
    }
    &.star-4:checked ~ span {
      width: 80%;
    }
    &.star-3:checked ~ span {
      width: 60%;
    }
    &.star-2:checked ~ span {
      width: 40%;
    }
    &.star-1:checked ~ span {
      width: 20%;
    }
  }
  label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0!important;
    padding: 0!important;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent!important;
    cursor: pointer;
    &:hover ~ span {
      background-position: 0 -30px;
    }
    &.star-5:hover ~ span {
      width: 100% !important;
    }
    &.star-4:hover ~ span {
      width: 80% !important;
    }
    &.star-3:hover ~ span {
      width: 60% !important;
    }
    &.star-2:hover ~ span {
      width: 40% !important;
    }
    &.star-1:hover ~ span {
      width: 20% !important;
    }
  }
  span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url("/assets/images/stars.png") repeat-x 0 -60px;
    transition: width 0.5s;
  }
}




/*
* Animated logo
*/

.animated {
  animation-duration: 7s;
  animation-fill-mode: both;
  &.infinite {
    animation-iteration-count: infinite;
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
}
@-webkit-keyframes rubberBand {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    transform: scale(1);
  }
}

/**
 * Old styles
 */

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.spacer {
  margin-top: 20px;
}

.vcenter {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'campaign/campaign.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector
