<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
  <div class="row">
    <div ng-include="'components/navbar/navbar.html'"></div>
    <form class="form" name="form" role="form" novalidate>
      <div class="col-md-5">
        <div style="width:360px;">
          <div class="row">
            <div class="form-group">
              <label for="businessName">Today's Deal name</label>
              <input id="businessName" type="text" name="dailyDealName" class="form-control" ng-model="user.business.dailyDealName" required/>

              <p class="help-block" ng-show="user.business.dailyDealName.$error.required">
                A Today's Deal name name is required
              </p>
            </div>
			<div class="form-group">
              <label>Today's Deal token: {{user.business.token}}</label>
            </div>
            <div class="form-group">
              <button class="btn btn-success" type="button" ng-click="save()">
                Save
              </button>
            </div>
          </div>
          <div class="row">
            <script>
              $(function() {
                $( "#datepicker" ).datepicker();
              });
            </script>
            <div class="form-group">
              <label for="datepicker">Date</label>
              <input id="datepicker" type="text" class="form-control" ng-model="date" ng-change="checkTapinUsers()"/>
            </div>
          </div>
          <div>
            <strong>Tapin users number:</strong> {{usersNumber}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
