<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
    <div ng-include="'components/navbar/navbar.html'"></div>
    <div class="col-md-10">
      <div style="width:360px;">
        <div class="row">
          <form class="form" name="form" role="form" ng-submit="update(form)" novalidate>
			  
			<dl class="check-list-left">
			  <dt>Opportunity Criteria</dt>					
			  <dd ng-repeat="criteriaItem in criteriaList track by $index">
				<input type="checkbox" name="criteria" id="ch_{{$index}}" ng-value="criteriaItem" 
					   ng-model="checkboxCriteria[$index]" 
					   ng-click="checkCriteria(criteriaItem);" 
					   ng-checked="isCheckCriteria(criteriaItem)"/>
				<label for="ch_{{$index}}">{{criteriaItem.text}}</label>
			  </dd>						 
			</dl>
			  
            <div>
              <button class="btn btn-success" type="submit">
                Update
              </button>
            </div>
      </form>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
</div>
