<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
  <div ng-if="stage == 1">
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      The message to confirm your email address has been sent. Please use the link provided in your email to confirm your account and finish registration.
    </div>
  </div>

  <div ng-if="stage == 3">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{errors.other}}
    </div>
  </div>
</div>
