<div class="col-md-2" ng-controller="NavbarCtrl">
	<div class="list-group">
		<a href="/" ng-show="isLoggedIn() && !isAdmin()" class="list-group-item" ng-class="{active: isActive('/')}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
		<a href="/daily_deal" ng-show="isLoggedIn() && !isAdmin()" class="list-group-item" ng-class="{active: isActive('/daily_deal')}"><span class="glyphicon glyphicon-user"></span> Today's Deal</a>
		<a href="/campaigns" ng-show="isLoggedIn() && !isAdmin()" class="list-group-item" ng-class="{active: (isActive('/campaigns') || isActive('/campaign'))}"><span class="glyphicon glyphicon-stats"></span> Campaigns</a>
		<a href="/settings" ng-show="isLoggedIn() && !isAdmin()" class="list-group-item" ng-class="{active: isActive('/settings')}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
		<!--<a href="/support" ng-show="isLoggedIn() && !isAdmin()" class="list-group-item" ng-class="{active: isActive('/support')}"><span class="glyphicon glyphicon-user"></span> Support</a>-->
		<a href="/admin" ng-show="isAdmin()" class="list-group-item" ng-class="{active: isActive('/admin')}"> Users</a>
        <a href="/moderate_campaigns" ng-show="isAdmin()" class="list-group-item" ng-class="{active: isActive('/moderate_campaigns')}"> Campaigns</a>
        <a href="/promocodes" ng-show="isAdmin()" class="list-group-item" ng-class="{active: isActive('/promocodes')}"> Promo codes</a>
		<a href="" ng-click="logout()" ng-show="isLoggedIn()" class="list-group-item"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>
	</div>
	<div ng-if="isLoggedIn() && !isAdmin()" ng-include="'app/main/orlak_script.html'"></div>
</div>