<div class="container" style="margin-top:40px; margin-bottom:40px;">
	<a href="/">
		<img alt="Logo" src="/assets/images/logo.png"  width="180">
	</a>
</div>

<div class="container">
	<div style="width:360px;" ng-if="loaded">		
		<div ng-if="errors != ''">
			<alert type="danger">{{errors}}</alert>
		</div>
	</div>
</div>
