.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.pinpoint {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #FFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.42);
}
	.green {
		color: #00FF00;
		font-weight: bold;
	}
	.red {
		color: #FF0000;
		font-weight: bold;
	}
	.orange {
		color: orange;
		font-weight: bold;
	}