<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
	<div class="row">
		<div ng-include="'components/navbar/navbar.html'"></div>		
		<div class="col-md-10">
			<div class="alert alert-warning" role="alert" ng-hide="isCampaignStarted()">No Campaigns yet</div>
			<div ng-show="isCampaignStarted()"> 
				<h4><a>Campaigns</a></h4>
				<hr/>
				<div class="col-md-4">					
					<strong>Date</strong>
					<p>{{campaign.createdAt|date:'dd MMM yyyy'}}</p>
					<strong>Token</strong>
					<p>{{campaign.token}}</p>
					<strong>Message</strong>
					<p>{{campaign.message}}</p>
					<strong>Details</strong>
					<p>{{showCriteria(campaign.criteria)}}</p>


					<div ng-class="campaign.status === 'moderate' ? 'orange' : campaign.status === 'accept' ? 'green' : 'red' ">
						{{campaign.status === 'moderate' ? 'Pending' : campaign.status === 'accept' ? 'Approved' : 'Rejected (did not meet guidelines)'}}
					</div>
					<input type="button" ng-click="testClick();" value="test" ng-if="false"/>
				</div>
				<div class="col-md-4">
					<strong>{{(campaign.userScanned.length * 100 / campaign.limit)|number:0}}%</strong>
					<div class="pie" data-percent="{{(campaign.userScanned.length * 100 / campaign.limit)|number:0}}">
					</div>
					<script>
					$(function() {
						setTimeout(function() {
						$('.pie').easyPieChart({
							scaleColor: false,
							lineWidth: 20,
							lineCap: 'butt',
							barColor: '#ff6b6b',
							size: 150,
							animate: 500
						});
					});}, 2000); 
					</script>	
				</div>
				<div class="col-md-4">
					<div class="chart" ng-init="data.campaignTotal = campaign.available + campaign.userGroup.length + campaign.userScanned.length; data.campaignTotal = data.campaignTotal == 0 ? 1 : data.campaignTotal;">
						<div class="bar-1" style="height: {{(50 + 135 * (campaign.available / data.campaignTotal))|number:1}}px;">Available
							<br />
							({{campaign.available}})
						</div>
						<div class="bar-2" style="height: {{(50 + 135 * (campaign.userGroup.length / data.campaignTotal))|number:1}}px;">Reached
							<br />
							({{campaign.userGroup.length}})
						</div>
						<div class="bar-3" style="height: {{(50 + 135 * (campaign.userScanned.length / data.campaignTotal))|number:1}}px;">Limit {{campaign.limit}}
							<br />
							({{campaign.userScanned.length}})
						</div>
					</div>
				</div>
			</div>

			<h4><a>Opportunities</a></h4>

			<div class="col-md-4">
				<strong>Details</strong>	
				<p>{{showCriteria(criteria)}}</p>				
			</div>
			<div class="col-md-4">				
				<strong>Potential Reach</strong>
				<p>{{currentOppt.count || 0}} people</p>
			</div>			
			<div class="col-md-4">
				<div class="chart">
					<a ng-click="updateOpportunity(opportunities[0]);"><div class="bar-1"
						 style="height: {{(50 + 135 * (opportunities[0].count / data.total))|number:1}}px;">0.25 mi</div></a>
					<a ng-click="updateOpportunity(opportunities[1]);"><div class="bar-2" 
						 style="height: {{(50 + 135 * (opportunities[1].count / data.total))|number:1}}px;">0.5 mi</div></a>
					<a ng-click="updateOpportunity(opportunities[2]);"><div class="bar-3" 
						 style="height: {{(50 + 135 * (opportunities[2].count / data.total))|number:1}}px;">1 mi</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
