<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
  <div style="width:360px;">
      <form class="form" name="form" role="form" ng-submit="recover(form)" novalidate ng-if="stage == 1">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="user.email" required>
        </div>

        <div class="form-group has-error">
           <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
           </p>
			<p class="help-block" ng-show="form.email.$error.required && submitted">
				A email is required
			</p>
          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-primary" type="submit">
            Request new password
          </button>
        </div>
      </form>

	  <div ng-if="stage == 2">
		  <div class="alert alert-success" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			You sent a request to reset your password. Please use the link provided in your email to reset the password for your account.
		  </div>
	  </div>


	  <form class="form" name="form" role="form" ng-submit="setNewPassword(form)" novalidate ng-if="stage == 3">
		
		<div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label for="">New Password</label>
          <input type="password" name="password" class="form-control" placeholder="password" ng-model="user.password"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
    	   <p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.other }}</p>
        </div>

		<div class="form-group" ng-class="{ 'has-success': (user.passwordConf == user.password) && submitted,
                                            'has-error': (user.passwordConf != user.password) && submitted }">
          <label for="">New Password (confirm)</label>
          <input type="password" name="passwordConf" class="form-control" placeholder="confirm password" ng-model="user.passwordConf"
                 ng-minlength="3"
                 required/>
		  <p class="help-block"
             ng-show="(user.passwordConf != user.password) && submitted">
            Password confirmation does not match with password
          </p>    	   
        </div>

        <div>
          <button class="btn btn-primary" type="submit">
            Save new password
          </button>
        </div>
      </form>

	   <div ng-if="stage == 4">
		  <div class="alert alert-success" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			Your password has been successfully changed. Please go to <a href="/login">login page</a>.
		  </div>
	  </div>

  </div>
</div>
