<div class="container" style="margin-top:40px; margin-bottom:40px;">
</div>

<div class="container">
	<div style="margin-left:auto; margin-right:auto; margin-top:80px; display:block; text-align:center;">
		<div class="animated pulse infinite">
			<img alt="Logo" draggable="false" src="/assets/images/logo.png" width="400" />
		</div>
	</div>
	<div style="width:200px; margin-left:auto; margin-right:auto; margin-top: 60px;"> 
		<a class="btn btn-primary btn-lg" href="/login">Sign In</a>
		<a class="btn btn-success btn-lg" href="/signup">Sign Up</a>
	</div>
</div>
