<div class="container" style="margin-top:40px; margin-bottom:40px;">
	<a href="/">
		<img alt="Logo" src="/assets/images/logo.png"  width="180">
	</a>
</div>

<div class="container">
	<div style="width:360px;" ng-if="user.$resolved">
		<form class="form" name="form" role="form" ng-submit="nextStep(form)" novalidate>

			<div class="form-group">
				<label>Image</label>
				<input type="file" name="image" class="form-control" ng-file-select="onFileSelect($files)" />
				<br />
				<div ng-if="user.business.imageName">
					<img ng-src="/api/users/image/{{user.business.imageName}}" class="thumbnail" style="max-width: 390px;" />
				</div>
			</div>

			<div class="form-group">
				<label>Known for  (add up to 4)</label>
				<div ng-repeat="descriptionItem in user.business.description track by $index">
					<input type="text" class="form-control" placeholder=""
						   name="description" ng-model="user.business.description[$index]"
						   mongoose-error/><br />					
				</div>
				<div>
					<button class="btn btn-success" type="button" ng-disabled="user.business.description.length >= 4" ng-click="user.business.description.push('');">
						Add
					</button>
				</div>
			</div>

			<dl class="radio-list-left" ng-class="{ 'has-success': form.businessType.$valid && submitted, 'has-error': form.businessType.$invalid && submitted }">
				<dt>What type of store do you run?</dt>
				<dd>
					<input type="radio" name="businessType" data-ng-model="user.businessType" id="pq1-1" ng-value="businessTypes[0]" required/>
					<label for="pq1-1">Store front</label>
				</dd>
				<dd>
					<input type="radio" name="businessType" data-ng-model="user.businessType" id="pq1-2" ng-value="businessTypes[1]" required/>
					<label for="pq1-2">Online store</label>
				</dd>
				<p class="help-block" ng-show="form.businessType.$error.required && submitted">
					A business type is required
				</p>
			</dl>
			<dl class="check-list-left" ng-class="{ 'has-success': user.businessCategory.length > 0 && submitted,
							'has-error': user.businessCategory.length === 0 && submitted }">
				<dt>Classify your business (select up to 3)</dt>
				<dd ng-repeat="businessCategory in businessCategories">
					<input type="checkbox" id="ch_{{businessCategory}}"
						   ng-model="checkbox[businessCategory]"
						   ng-true-value="true"
						   ng-false-value="false"
						   ng-change="updateBusinessCategory(businessCategory, checkbox[businessCategory])"
						   ng-disabled="user.businessCategory.indexOf(businessCategory) == -1 && user.businessCategory.length >= 3" />
					<label for="ch_{{businessCategory}}"> {{businessCategory}}</label>
				</dd>
				<p class="help-block" ng-show="user.businessCategory.length === 0 && submitted">
					A business category is required
				</p>
			</dl>

			<div>
				<button class="btn btn-success" type="submit" style="margin-bottom:100px;">
					Next
				</button>
			</div>
		</form>
	</div>
</div>
