<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/dashboard">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
  <div style="width:360px;">
      <form class="form" name="form" role="form" ng-submit="nextStep(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.businessName.$valid && submitted,
                                            'has-error': form.businessName.$invalid && submitted }">
          <label for="exampleInputEmail1">Business Name</label>
          <input type="text" name="businessName" class="form-control" placeholder="Enter business name" ng-model="user.businessName"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.businessName.$error.required && submitted">
            A business name is required
          </p>
          <p class="help-block" ng-show="form.businessName.$error.mongoose">
            {{ errors.businessName }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.website.$valid && submitted,
                                            'has-error': form.website.$invalid && submitted }">
          <label for="exampleInputEmail1">Website</label>
          <input type="text" name="website" class="form-control" placeholder="website" ng-model="user.website"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.website.$error.required && submitted">
            A website is required
          </p>
          <p class="help-block" ng-show="form.website.$error.mongoose">
            {{ errors.website }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.contact.$valid && submitted,
                                            'has-error': form.contact.$invalid && submitted }">
          <label for="exampleInputEmail1">Contact Name</label>
          <input type="text" name="contact" class="form-control" placeholder="contact name" ng-model="user.contact"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.contact.$error.required && submitted">
            A contact is required
          </p>
          <p class="help-block" ng-show="form.contact.$error.mongoose">
            {{ errors.contact }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,
                                            'has-error': form.address.$invalid && submitted }">
          <label for="exampleInputEmail1">Street Address</label>
          <input type="text" name="address" class="form-control" placeholder="street address" ng-model="user.address"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.address.$error.required && submitted">
            A address is required
          </p>
          <p class="help-block" ng-show="form.address.$error.mongoose">
            {{ errors.address }}
          </p>
        </div>
		  
		<div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,
                                            'has-error': form.address.$invalid && submitted }">
          <label for="zipCode">Zip Code</label>
          <input id="zipCode" type="text" name="zipCode" class="form-control" placeholder="Zip Code" ng-model="user.zipCode"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.zipCode.$error.required && submitted">
            A Zip Code is required
          </p>
          <p class="help-block" ng-show="form.zipCode.$error.mongoose">
            {{ errors.zipCode }}
          </p>
        </div>		  

        <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && submitted,
                                            'has-error': form.phone.$invalid && submitted }">
          <label for="exampleInputEmail1">Phone Number</label>
          <input type="text" name="phone" class="form-control" placeholder="phone number" ng-model="user.phone"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.phone.$error.required && submitted">
            A phone is required
          </p>
          <p class="help-block" ng-show="form.phone.$error.mongoose">
            {{ errors.phone }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label for="exampleInputEmail1">Email Address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="email" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="password" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>
		  
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="rememberMe" /> Remember Me
			</label>
		</div>

        <div>
          <button class="btn btn-success" type="submit" style="margin-bottom:100px;">
			Next
          </button>
        </div>

      </form>
    </div>
</div>
