<div class="container" style="margin-top:40px; margin-bottom:40px;">
	<a href="/">
		<img alt="Logo" src="/assets/images/logo.png" width="180">
	</a>
</div>

<div class="container">
	<div class="row">
		<div ng-include="'components/navbar/navbar.html'"></div>
		<div class="col-md-10">
			<form name="form_campaign" novalidate class="form-validation">
				<div class="row" ng-if="error!=''">
					<div class="col-lg-12">
						<alert type="danger" close="closeAlert()">{{error}}</alert>
					</div>
				</div>

				<div class="row" ng-if="!isSetupPaymentInfo()">
					<div class="col-lg-12">
						<alert type="danger">You can't create new campaign. Please, open <a
								href="/settings">Settings</a> page, and setup your billing data.
						</alert>
					</div>
				</div>


				<div ng-if="form.step == 1 && !isCampaignStarted() && isSetupPaymentInfo()">
					<div style="margin-top:-56px;">
						<div class="row">
							<div class="col-lg-12">

								<div class="form-group">
									<h4><strong>Select your criteria (maximum 3)</strong></h4>

									<div class="row">
										<div class="col-md-3" ng-repeat="category in categories">
											<label for="dropdownCategory">{{category.label}}</label><br/>
											<select id="dropdownCategory"
													class="form-control"
													ng-options="item.value as item.text for item in category.items"
													ng-model="selectedCriteria[$index]"
													ng-change="selectCriteria($index)"
													></select>
										</div>
									</div>
								</div>
								<div style="width:360px;">
									<div ng-repeat="criteria in form.criteria">
										<p>
											{{criteria.text}}
											<a href="" ng-click="removeCriteria($index)">
												<span class="glyphicon glyphicon-remove"></span>
											</a>
										</p>
									</div>
									<dl class="check-list-left">
										<dt>Select gender</dt>
										<dd ng-repeat="genderItem in genderList track by $index">
											<input type="checkbox" name="gender" id="gender_{{$index}}"
												   ng-value="genderItem.id"
												   ng-model="checkboxGender[$index]"
												   ng-change="checkItem('gender', checkboxGender[$index], genderItem);"/>
											<label for="gender_{{$index}}">{{genderItem.text}}</label>
										</dd>
									</dl>

									<dl class="check-list-left">
										<dt>Select Age</dt>
										<dd ng-repeat="ageItem in ageList track by $index">
											<input type="checkbox" name="age" id="age_{{$index}}"
												   ng-value="ageItem.id"
												   ng-model="checkboxAge[$index]"
												   ng-change="checkItem('age', checkboxAge[$index], ageItem);"/>
											<label for="age_{{$index}}">{{ageItem.text}}</label>
										</dd>
									</dl>

									<dl class="radio-list-left">
										<dt>Select your target radius</dt>
										<dd ng-repeat="opportunityItem in business.opportunity">
											<input type="radio" name="opportunity" id="rb_{{$index}}"
												   ng-model="form.opportunity" ng-value="opportunityItem"
												   ng-change="filterReach(opportunityItem)" required/>
											<label for="rb_{{$index}}">{{opportunityItem.distance}} mi</label>
										</dd>
									</dl>

									<div class="form-group">
										<label for="limit">Deal Limit</label>
										<input id="limit" type="text" name="limit" class="form-control"
											   ng-model="form.limit" required/>
									</div>

									<div class="form-group">
										<input id="isSetHoursLimit"
											   type="checkbox" name="isSetHoursLimit"
											   ng-model="form.isSetHoursLimit"
											   ng-change="adjustHoursLimit()"/>
										<label for="isSetHoursLimit">Add time limit</label>
									</div>

									<div ng-show="form.isSetHoursLimit">
										<label for="hoursLimitDropdown" class="sr-only">Select hours limit</label><br/>
										<select id="hoursLimitDropdown"
												class="form-control"
												ng-options="item.value as item.text for item in allHoursLimits"
												ng-model="form.hoursLimit"
												></select>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="width:360px;">
						<hr>
						<div class="col-xs-6">
							<strong>Available Reach</strong>

							<p><strong style="color:#2ea34e; font-size:16px;">{{available}} people</strong></p>
							<strong>Price</strong>

							<p>${{(available ? available * form.priceByUser : 0)|number:2}} for blast</p>
							<strong>Details</strong>

							<p><span ng-repeat="item in form.criteria">{{item.text}} ,</span>
								{{form.opportunity.distance ? (form.opportunity.distance + " mi") : ""}}</p>
						</div>

						<div class="col-xs-6">
							<strong>0%</strong>

							<div class="pie" data-percent="0">
							</div>
							<br/>
						</div>
					</div>

					<hr>

					<div style="width:440px;">
						<h4><strong>Enter your message for the blast</strong></h4>
					  <textarea name="message" class="form-control" rows="6" ng-model="form.message"
								required></textarea>
					</div>

					<button type="button" class="btn btn-success" style="margin-bottom:80px; margin-top:20px;"
							data-ng-click="form.step = 2;"
							data-ng-disabled="!canSubmit(form_campaign)"
							>Next
					</button>
				</div>

				<div class="row" ng-if="form.step == 2">
					<div class="col-md-10">
						<div class="col-md-4">
							<strong>Radius</strong>

							<p>{{form.opportunity.distance}} mile radius</p>
							<strong>Reach</strong>

							<p><strong style="color:#2ea34e; font-size:16px;">{{available || 0}} potential
								people</strong></p>
							<strong>Details</strong>

							<p>
								<span ng-repeat="item in form.age">{{item.text}}, </span>
								<span ng-repeat="item in form.gender">{{item.text}}, </span>
								<span ng-repeat="item in form.criteria">{{item.text}} <span
										ng-if="!$last">,</span></span>
							</p>
						</div>
						<div class="col-md-4">
							<strong>Message</strong>

							<p>{{form.message}}</p>
							<strong>Price</strong>

							<p>Total: ${{(available * form.priceByUser)|number:2}}</p>
						</div>
						<div class="col-md-4">
							<strong>0%</strong>

							<div class="pie" data-percent="0">
							</div>
							<br/>
							<script>
								$(function () {
									$('.pie').easyPieChart({
										scaleColor: false,
										lineWidth: 20,
										lineCap: 'butt',
										barColor: '#ff6b6b',
										size: 150,
										animate: 500
									});
								});
							</script>
						</div>

						<div class="col-lg-12" ng-if="errors">
							<alert type="danger">{{errors}}</alert>
						</div>

						<div class="col-md-10" style="margin-top:100px;">
							<button type="submit" class="btn btn-success"
									data-ng-click="save()"
									data-ng-disabled="!canSubmit(form_campaign)"
									>Accept and Submit
							</button>
						</div>
					</div>
				</div>

				<div class="row" ng-if="form.step == 3">
					<div class="col-md-10">
						<h3>Thank you!</h3>

						<p>You're all set! Your campaign went live, when administrator allow it!</p>

						<p>Campaign token: <b>{{campaign.token}}</b></p>
						<img ng-src="{{qr_img}}" style=display:block;margin-bottom:40px;" ng-if="false"/>
						<a class="btn btn-success" href="/" style="display:block;margin-bottom:40px;width:100px;">Complete</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
