<div class="col-md-2" ng-controller="NavbarCtrl">
	<div class="list-group">
		<a href="/" ng-show="isLoggedIn()" class="list-group-item" ng-class="{active: isActive('/')}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
		<a href="/campaign" ng-show="isLoggedIn()" class="list-group-item" ng-class="{active: isActive('/campaign')}"><span class="glyphicon glyphicon-stats"></span> Campaigns</a>
		<a href="/settings" ng-show="isLoggedIn()" class="list-group-item" ng-class="{active: isActive('/settings')}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
		<!--<a href="/support" ng-show="isLoggedIn()" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Support</a>-->
        <a href="/daily_deal" ng-show="isLoggedIn()" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Daily deal</a>
		<a href="/admin" ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"> Admin</a>
		<a href="" ng-click="logout()" ng-show="isLoggedIn()" class="list-group-item"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>
	</div>
</div>
