<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/">
    <img alt="Logo" src="/assets/images/logo.png"  width="180">
  </a>
</div>

<div class="container">
  <div class="row">
		<div ng-include="'components/navbar/navbar.html'"></div>
		<div class="col-md-10">
			
		<div style="width:440px;">

			<h4><strong>What can we help you with?</strong></h4>
			
			<form class="form" name="form" role="form" ng-submit="sendMessage(form)" novalidate>
				<div class="form-group" ng-class="{ 'has-success': form.message.$valid && submitted,
                                            'has-error': form.message.$invalid && submitted }">
					<textarea class="form-control" rows="9" ng-model="support.message" name="message" required /></textarea>
					<p class="help-block" ng-show="form.message.$error.required && submitted">
					   A message is required
					</p>
				</div>

				<div>
					<button class="btn btn-success" type="submit" style="margin-top:20px;">
					  Submit
					</button>
				</div>
				
			</form>
		</div>

		
		</div>
  </div>
</div>
