<div class="container" style="margin-top:40px; margin-bottom:40px;">
  <a href="/dashboard">
    <img alt="Logo" src="/assets/images/logo.png" width="180">
  </a>
</div>

<div class="container">
  <div style="width:360px;" ng-if="user.$resolved">
        <h4><strong>Here are the services you'll receive:</strong></h4>
		<hr>
		<p>*Geo-Locating Potential Customers</p>
		<p>*Real-Time Location Traffic</p>
		<p>*Geo-User Blasts</p>
		<hr>
		<h4 ng-if="false"><strong>$39.95 a month</strong></h4>
		<hr>


		<div class="row" ng-init="user.business.billingAddress = user.business.billingAddress ? user.business.billingAddress : user.business.address;">

			<form class="form" name="form" role="form" ng-submit="checkout(form)" novalidate>

				<div class="form-group" ng-class="{ 'has-success': form.billingAddress.$valid && submitted,
                                            'has-error': form.billingAddress.$invalid && submitted }">
					<label for="exampleInputEmail1">Billing Street Address</label>
					<input id="exampleInputEmail1" type="text" class="form-control" name="billingAddress" ng-model="user.business.billingAddress" placeholder="billing street address"
						   mongoose-error />
					 <p class="help-block" ng-show="form.billingAddress.$error.required && submitted">
					   A Billing Street Address is required
					 </p>
					 <p class="help-block" ng-show="form.billingAddress.$error.mongoose">
					   {{ errors.billingAddress }}
					 </p>
				</div>

				<div class="form-group" ng-class="{ 'has-success': form.zipCode.$valid && submitted,
                                            'has-error': form.zipCode.$invalid && submitted }">
					<label for="exampleInputEmail1">Zip Code</label>
					<input type="text" class="form-control" placeholder="zip code" name="zipCode" ng-model="user.business.zipCode"   
						   mongoose-error />
					 <p class="help-block" ng-show="form.zipCode.$error.required && submitted">
					   A Zip Code is required
					 </p>
					 <p class="help-block" ng-show="form.zipCode.$error.mongoose">
					   {{ errors.zipCode }}
					 </p>
				</div>

				<div class="form-group" ng-class="{ 'has-success': form.cardholderName.$valid && submitted,
                                            'has-error': form.cardholderName.$invalid && submitted }">
					<label>Cardholder's Name</label>
					<input type="text" class="form-control" placeholder="cardholder's name" name="cardholderName" ng-model="user.business.cardholderName"  
						   mongoose-error />
					 <p class="help-block" ng-show="form.cardholderName.$error.required && submitted">
					   A Cardholder's Name is required
					 </p>
					 <p class="help-block" ng-show="form.cardholderName.$error.mongoose">
					   {{ errors.cardholderName }}
					 </p>
				</div>
				<div class="form-group" ng-class="{ 'has-success': form.cardnumber.$valid && submitted,
                                            'has-error': form.cardnumber.$invalid && submitted }">
					<label>Card Number</label>
					<input type="text" class="form-control" placeholder="card number" name="cardnumber" ng-model="user.business.cardnumber"  
						   mongoose-error />
					 <p class="help-block" ng-show="form.cardnumber.$error.required && submitted">
					   A Card Number is required
					 </p>
					 <p class="help-block" ng-show="form.cardnumber.$error.mongoose">
					   {{ errors.cardnumber }}
					 </p>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group" ng-class="{ 'has-success': form.expMonth.$valid && submitted,
                                            'has-error': form.expMonth.$invalid && submitted }">
							<label>Exp Month</label>
							<input type="text" class="form-control" placeholder="MM" name="expMonth" ng-model="user.business.expMonth"  
									mongoose-error />
							<p class="help-block" ng-show="form.expMonth.$error.required && submitted">
							  A Exp Month is required
							</p>
							<p class="help-block" ng-show="form.expMonth.$error.mongoose">
							  {{ errors.expMonth }}
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" ng-class="{ 'has-success': form.expYear.$valid && submitted,
                                            'has-error': form.expYear.$invalid && submitted }">
							<label>Exp Year</label>
							<input type="text" class="form-control" placeholder="YYYY" name="expYear" ng-model="user.business.expYear"
									mongoose-error />
							<p class="help-block" ng-show="form.expYear.$error.required && submitted">
							  A Exp Year is required
							</p>
							<p class="help-block" ng-show="form.expYear.$error.mongoose">
							  {{ errors.expYear }}
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" ng-class="{ 'has-success': form.CVC.$valid && submitted,
                                            'has-error': form.CVC.$invalid && submitted }">
							<label>CVC</label>
							<input type="text" class="form-control" placeholder="Ex. 331" name="CVC" ng-model="user.business.CVC"
									mongoose-error />
							<p class="help-block" ng-show="form.CVC.$error.required && submitted">
							  A CVC is required
							</p>
							<p class="help-block" ng-show="form.CVC.$error.mongoose">
							  {{ errors.CVC }}
							</p>
						</div>
					</div>
				</div>
				

				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="agreeTerms" name="agreeTerms" /> I have read and underdstand terms and service
					</label>					
				</div>
				<div>
					<button class="btn btn-success" type="submit" style="margin-bottom:100px;" ng-disabled="(!agreeTerms || disableSubmitButton)">
					  Complete Signup
					</button>
				  </div>

			</form>
		</div>	

    </div>
</div>
